In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('excess_mortality.csv')

In [3]:
df

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,...,deaths_2017_all_ages,deaths_2018_all_ages,deaths_2019_all_ages,deaths_2010_all_ages,deaths_2011_all_ages,deaths_2012_all_ages,deaths_2013_all_ages,deaths_2014_all_ages,Week,deaths_2021_all_ages
0,Austria,2020-01-05,-10.83,-4.99,-23.21,-5.11,-11.17,1613.0,1809.0,1704.0,...,2293.0,1767.0,1647.0,1557.0,1579.0,1574.0,1637.0,1549.0,1,1944.0
1,Austria,2020-01-12,-8.35,-1.45,-5.43,-5.30,-13.40,1702.0,1857.0,1768.0,...,2340.0,1842.0,1709.0,1582.0,1671.0,1563.0,1659.0,1543.0,2,1941.0
2,Austria,2020-01-19,0.59,-7.32,-1.09,9.77,-2.91,1797.0,1786.4,1837.0,...,2060.0,1786.0,1641.0,1573.0,1513.0,1586.0,1612.0,1578.0,3,NaN
3,Austria,2020-01-26,1.83,14.20,-5.11,10.18,-5.01,1779.0,1747.0,1792.0,...,1938.0,1714.0,1713.0,1573.0,1560.0,1595.0,1584.0,1463.0,4,NaN
4,Austria,2020-02-02,7.06,-5.91,-0.22,19.98,5.79,1947.0,1818.6,1837.0,...,2045.0,1870.0,1732.0,1544.0,1521.0,1545.0,1752.0,1574.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,United States,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,57129.6,52484.0,...,61084.0,56024.0,58453.0,NaN,NaN,NaN,51940.0,56021.0,52,NaN
2037,United States,2021-01-03,NaN,NaN,NaN,NaN,NaN,NaN,57129.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN
2038,United States,2021-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2039,United States,2021-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2040,United States,2021-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN

# Q1  Create a DataFrame that consists of the following columns: (1) location; (2) average deaths for2020; (3) average deaths of 2018; (4) the difference between average deaths of 2020 and 2018.The location column should include the name of the respective country

In [4]:
locs = df.location.unique()
d2020 = []
d2018 = []
dif = []

In [5]:
for loc in locs:
    d2020.append(df[df['location'] == loc]['deaths_2020_all_ages'].mean())
    d2018.append(df[df['location'] == loc]['deaths_2018_all_ages'].mean())
    dif.append(d2020[-1] - d2018[-1])

In [6]:
new_df = pd.DataFrame()

In [7]:
new_df['Location'] = locs

In [8]:
new_df['average_deaths_2020'] = d2020
new_df['average_deaths_2018'] = d2018
new_df['average_excess_deaths'] = dif

In [9]:
new_df

,Location,average_deaths_2020,average_deaths_2018,average_excess_deaths
0,Austria,1726.566038,1578.134615,148.431422
1,Belgium,2429.622642,2121.942308,307.680334
2,Bulgaria,2378.773585,2080.807692,297.965893
3,Canada,5721.785714,5440.673077,281.112637
4,Chile,2402.547170,2047.269231,355.277939
5,Croatia,1025.479167,1010.807692,14.671474
6,Czechia,2439.666667,2165.461538,274.205128
7,Denmark,1046.698113,1059.153846,-12.455733
8,England & Wales,11586.886792,10371.788462,1215.098331
9,Estonia,305.301887,301.615385,3.686502
10,Finland,1052.634615,1045.557692,7.076923
11,France,12509.641509,11442.865385,1066.776125
12,Germany,18695.288462,18313.365385,381.923077
13,Greece,2478.448980,2306.769231,171.679749
14,Hungary,2654.442308,2512.000000,142.442308
15,Iceland,43.679245,43.211538,0.467707
16,Israel,930.584906,853.788462,76.796444
17,Italy,13501.886364,12286.230769,1215.655594
18,Latvia,542.188679,552.750000,-10.561321
19,Lithuania,826.867925,758.692308,68.175617
20,Luxembourg,86.489796,82.692308,3.797488
21,Netherlands,3229.716981,2942.134615,287.582366
22,New Zealand,625.509434,635.634615,-10.125181
23,Northern Ireland,335.941176,303.346154,32.595023
24,Norway,774.679245,782.769231,-8.089985
25,Poland,9132.471698,7909.846154,1222.625544
26,Portugal,2366.037736,2167.153846,198.883890
27,Scotland,1222.943396,1119.269231,103.674165
28,Slovakia,1070.750000,1041.096154,29.653846
29,Slovenia,449.372549,392.846154,56.526395
30,South Korea,5793.122449,5731.346154,61.776295
31,Spain,9452.641509,8153.730769,1298.910740
32,Sweden,1828.150943,1719.500000,108.650943
33,Switzerland,1394.460000,1286.288462,108.171538
34,Taiwan,3313.512821,3321.519231,-8.006410
35,United Kingdom,NaN,NaN,NaN
36,United States,62768.860000,54453.288462,8315.571538

# Q2 For every country/location, find the top-5 weeks with the lowest number of excess deaths (Excess deaths are defined as the difference between the deaths that occurred in a specific week in 2020 vs 2018).

In [10]:
df['Week_excess_deaths'] = df['deaths_2020_all_ages'] - df['deaths_2018_all_ages']

In [11]:
top5s = []
for loc in locs:
    top5s.append(df[df['location'] == loc].sort_values('Week_excess_deaths').head()['Week'].values)

In [12]:
top5_df = pd.DataFrame()

In [13]:
top5_df['Location'] = locs

In [14]:
top5s = np.array(top5s)

In [15]:
top5_df['First Week'] = top5s[:,0]
top5_df['Second Week'] = top5s[:,1]
top5_df['Third Week'] = top5s[:,2]
top5_df['Fourth Week'] = top5s[:,3]
top5_df['Fifth Week'] = top5s[:,4]

In [16]:
top5_df

,Location,First Week,Second Week,Third Week,Fourth Week,Fifth Week
0,Austria,6,9,8,11,10
1,Belgium,10,9,11,8,27
2,Bulgaria,10,9,3,1,11
3,Canada,2,1,3,5,8
4,Chile,10,7,13,32,15
5,Croatia,10,9,3,17,1
6,Czechia,10,11,9,8,12
7,Denmark,9,10,8,7,11
8,England & Wales,10,4,11,36,5
9,Estonia,10,9,6,8,12
10,Finland,52,9,11,14,10
11,France,10,9,1,8,27
12,Germany,10,9,11,8,12
13,Greece,22,29,23,9,16
14,Hungary,10,8,9,11,7
15,Iceland,23,26,13,39,8
16,Israel,7,6,46,9,25
17,Italy,1,2,3,8,4
18,Latvia,9,10,13,11,12
19,Lithuania,8,6,9,5,7
20,Luxembourg,10,7,9,8,6
21,Netherlands,10,9,8,11,7
22,New Zealand,35,22,38,33,34
23,Northern Ireland,5,1,2,4,10
24,Norway,10,3,6,8,12
25,Poland,10,9,11,8,4
26,Portugal,7,8,9,1,6
27,Scotland,4,1,2,3,10
28,Slovakia,10,8,9,31,30
29,Slovenia,9,11,10,13,14
30,South Korea,3,2,1,4,5
31,Spain,1,2,7,8,9
32,Sweden,9,10,11,8,6
33,Switzerland,9,1,2,10,29
34,Taiwan,11,3,32,7,21
35,United Kingdom,1,2,3,4,5
36,United States,2,1,3,4,5

In [30]:
top5_df.to_csv('Top_5_weeks.csv')

# Q3 Find all the countries showing a positive excess (e.g., the diff between 2020 and 2018 greater than 0);

In [17]:
#Excess
countries = []
for loc in locs:
    deaths_2020 = df[df['location'] == loc]['deaths_2020_all_ages'].sum()
    deaths_2018 = df[df['location'] == loc]['deaths_2018_all_ages'].sum()
    if deaths_2020 > deaths_2018:
        countries.append(loc)

In [18]:
countries

['Austria',
 'Belgium',
 'Bulgaria',
 'Chile',
 'Czechia',
 'Denmark',
 'England & Wales',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Israel',
 'Lithuania',
 'Netherlands',
 'New Zealand',
 'Northern Ireland',
 'Norway',
 'Poland',
 'Portugal',
 'Scotland',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United States']

# Q4 For each country/location, find which year had the highest mortality.

In [19]:
years = range(2010,2022)
max_year = []
for loc in locs:
    rates = []
    for year in years:
        deaths = df[df['location'] == loc][f'deaths_{year}_all_ages'].sum()
        rates.append(deaths)
    max_year.append(years[rates.index(max(rates))])

In [20]:
max_mortality_year = pd.DataFrame()

In [21]:
max_mortality_year['Location'] = locs

In [22]:
max_mortality_year['Max_mortality_year'] = max_year

In [23]:
max_mortality_year

            Location  Max_mortality_year
0            Austria                2020
1            Belgium                2020
2           Bulgaria                2020
3             Canada                2019
4              Chile                2020
5            Croatia                2015
6            Czechia                2020
7            Denmark                2020
8    England & Wales                2020
9            Estonia                2020
10           Finland                2020
11            France                2020
12           Germany                2020
13            Greece                2019
14           Hungary                2020
15           Iceland                2020
16            Israel                2020
17             Italy                2017
18            Latvia                2010
19         Lithuania                2020
20        Luxembourg                2018
21       Netherlands                2020
22       New Zealand                2019
23  Northern Ireland                2020
24            Norway                2012
25            Poland                2020
26          Portugal                2020
27          Scotland                2020
28          Slovakia                2018
29          Slovenia                2020
30       South Korea                2018
31             Spain                2020
32            Sweden                2020
33       Switzerland                2020
34            Taiwan                2019
35    United Kingdom                2010
36     United States                2020

# Q5  For every week, show the country/location with the lowest mortality.

In [24]:
years = range(2010,2022)
min_locs = []
min_deaths_list = []
for week in range(1,53):
    week_data = df[df['Week'] == week]
    locations = week_data['location'].values
    min_deaths = np.inf
    min_loc = locations[0]
    for loc in locations:
        not_na = False
        deaths = 0
        for year in years:
            d_data = week_data[week_data['location'] == loc][f'deaths_{year}_all_ages'].dropna()
            if len(d_data) > 0:
                not_na = True
                deaths += week_data[week_data['location'] == loc][f'deaths_{year}_all_ages'].sum()
        if deaths < min_deaths and not_na:
            min_deaths = deaths
            min_loc = loc
    min_locs.append(min_loc)
    min_deaths_list.append(min_deaths)

In [25]:
week_lowest = pd.DataFrame()

In [26]:
week_lowest['Week'] = range(1,53)

In [27]:
week_lowest['Location'] = min_locs

In [28]:
week_lowest

    Week Location
0      1  Iceland
1      2  Iceland
2      3  Iceland
3      4  Iceland
4      5  Iceland
5      6  Iceland
6      7  Iceland
7      8  Iceland
8      9  Iceland
9     10  Iceland
10    11  Iceland
11    12  Iceland
12    13  Iceland
13    14  Iceland
14    15  Iceland
15    16  Iceland
16    17  Iceland
17    18  Iceland
18    19  Iceland
19    20  Iceland
20    21  Iceland
21    22  Iceland
22    23  Iceland
23    24  Iceland
24    25  Iceland
25    26  Iceland
26    27  Iceland
27    28  Iceland
28    29  Iceland
29    30  Iceland
30    31  Iceland
31    32  Iceland
32    33  Iceland
33    34  Iceland
34    35  Iceland
35    36  Iceland
36    37  Iceland
37    38  Iceland
38    39  Iceland
39    40  Iceland
40    41  Iceland
41    42  Iceland
42    43  Iceland
43    44  Iceland
44    45  Iceland
45    46  Iceland
46    47  Iceland
47    48  Iceland
48    49  Iceland
49    50  Iceland
50    51  Iceland
51    52  Iceland